
.events-container {
    display: flex;
    justify-content: space-between;
}

.event {
    align-items: center;
    width: 33.333333%;
    border: 1px solid;
    justify-items: center;
    margin-right: 10px;
    margin-bottom: 40px;
    padding: 20px;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    }
a.event-more {
    float: right;
    margin-bottom: 0px;
    right: 5px;
    
    

}

