
.events-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

h4 {
    font-size: 1.6rem;
}

.event {
    width: 20%;
    border: 1px solid;
    margin-right: 10px;
    margin-bottom: 40px;
    min-width: 0;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    background-color: #d89c44;
    color: #fff;
    padding: 0px 20px;
    }

.event-day {
    font-size: 2.6rem;
    font-weight: 500;
    margin-top: -5px;
    
}

.event-month {
    text-transform: uppercase;
    margin-top: 0;
    letter-spacing: 3px;
    margin-top: -15px;
}

.date-container {
    display: flex;
}

.to {
    margin-left: 20px;
}

.event h5 {
    font-size: 1rem !important;
    text-transform: uppercase !important;
    font-weight: 500;
    margin-top: 20px;
    height: 20px;
}

@media screen and (max-width: 900px) {
    .events-container{
        display: flex;
        flex-wrap: wrap;
    }
     .event {  
        width: 44%;
    }
  }

@media screen and (max-width: 340px) {
    .events-container{
        display: flex;
      
    }
     .event {  
        width: 44%;
    }
    .event h3 {
        font-size: 1.5rem;
    }
}


    

    

