
.events-container {
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
}

.event {
    width: 33.33%;
    height: 200px;
    border: 1px solid;
    justify-items: center;
    margin-right: 10px;
    margin-bottom: 40px;
    padding: 20px;
}
